*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

a{
    text-decoration: none;
    outline: 0;
    color: rgba(0, 0, 0, 0.6);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.navigation {
    display: flex;
    height: 48px;
    position: relative; 
    overflow: visible;
}

.navigation__categories{
    margin-left: auto;
    display: flex;
    gap: 24px;
    align-items: center;
}

.navigation__category .image__container img{
   height: 24px;
   width: 24px;
}

.popup__category .category__image img{
    height: 48px;
    width: 48px;
}

.checkbox__container{
    display: inline-block;
    cursor: pointer;
}

.checkbox_img{
    display: block;
}

.toggler:checked:focus + .checkbox__container,
.toggler:focus + .checkbox__container{
    box-shadow: inset 0 0 0 0.1em lightskyblue;
} 

.toggle-popup:checked ~ .popup,
.toggle-popup-secondary-block:checked  ~ .popup__secondary-block
{
    display: block;
}

.toggle-popup-secondary-block:checked + .toggle-secondary-block-checkbox{
    display: none;
}

.toggle-secondary-block-checkbox{
    display: block;
    width: 100%;
    background-color: rgba(0,0,0, 0.1);
    text-align: center;
    padding: 12px;
    position: absolute;
    bottom: 0;
}

.divider{
    margin-bottom: 36px;
    border-top: 1px solid rgba(0,0,0, 0.2);
}

/*Hidden checkboxes*/

.toggler{
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
}


.popup{
    display: none;
    box-shadow: 0 0 0 0.1em lightgray;
    height: 660px;
    width: 376px;
    position: absolute;
    z-index: 10;
    top: 24px;
    right: 0;
    margin: 24px auto;
    overflow-y: auto;
}

.popup__categories{
    margin: 24px 12px;
    position: relative;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 120px);
}

.popup__category{
    width: 100%;
    height: 100%;
}

.tabbable-container{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}

.popup .tabbable-container:hover{
    box-shadow: 0 0 0 0.1em lightgray;
}

.tabbable-container:hover:focus,
.tabbable-container:focus
{
    box-shadow: 0 0 0 0.1em lightskyblue;
}

.category__container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category__image{
    padding: 12px 24px 12px 24px;
}

.category_text{
    margin-bottom: 12px;
}

.popup__secondary-block{
    display: none;
}
